.FilterHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 20px;
  align-items: flex-end;
  flex-direction: row;
}

.filter-image-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:10px;
  cursor: pointer;
}

.filter-image-container img {
  width: 100px; 
  height: 100px;
  object-fit: cover; 
  border-radius: 8px; 
}

.filter-data {
  font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #4d4d4d;
  cursor: pointer;
}

.filter-data span {
transform: rotate(90deg);
position: absolute;
font-size: 16px;
margin-left: 5px;
transition: transform 0.3s ease, color 0.3s ease; 
}

.filter-data span:hover {
color:blue;

}

.filter-data:hover span {
transform: rotate(-90deg);
}

.filter-image-container:hover .filter-data:has(span),
.filter-image-container:hover .filter-data:has(span) span {
color: blue;
}

.filter-image-container:hover .filter-data span {
transform: rotate(-90deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  height: 44px;
  width: 240px;
  text-align: start;
  line-height: 20px;
  font-size: 12px;
  color: #333333;
  background-color: #FFFFFF;
  border-color: #111112;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
}

.dropdown-content a:hover {
  background-color: #f0f5f7;
  color: #4d4d4d;
  font-weight: 800;
}

.dropdown:hover .dropdown-content {display: block;}

.filter-image-container:hover .dropdown-content {
  display: block;
}