.FilterHeader {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px;
    align-items: flex-end;
    flex-direction: row;
}

.filter-image-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:10px;
}

.filter-image-container img {
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    border-radius: 8px; 
}

.filter-data {
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #4d4d4d;
    cursor: pointer;
}